:root {
    --gutter: max(30px, ((100vw - 17px - 1340px) / 2));
    /* Uncomment if site doesnt have variables */
    /* --primary-color: #000000;
    --secondary-color: #EFEFEF; */
    --border-radius: 0;
}

.design-block-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0 2rem;
    >*+* {
        margin-block: 0;
    }
    img {
        width: 100%;
        object-fit: cover;
        border-radius: var(--border-radius);
    }
    :is(h1, h2, p) {
        text-align: center;
    }
    .design-block-hero-content {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
    }
    .design-block-hero-text {
        max-width: 768px;
        :is(h1, h2, p) {
            text-align: left;
        }
    }
}

.content-block-page-title-section {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
    .pt-image {
        flex: 1 1 calc(50% - 1rem);
        order: 1;
        @media screen and (min-width: 768px) {
            order: 2;
        }
        img {
            height: 100%;
            object-fit: cover;
            border-radius: var(--border-radius);
        }
    }
    .pt-text {
        flex: 1 1 calc(50% - 1rem);
        order: 2;
        @media screen and (min-width: 768px) {
            order: 1;
        }
        h2,
        h3 {
            margin-top: 0;
        }
        hr {
            max-width: 200px;
            margin-left: 0;
            background-color: var(--primary-color);
        }
    }
}

.design-block-fw-paragraph {
    padding-block: 5rem;
    padding-inline: calc(var(--gutter) + 3rem);
    text-align: center;
    margin-bottom: 3rem;
    &.primary {
        background-color: var(--primary-color);
        h2,
        p {
            color: white;
        }
    }
    &.secondary {
        background-color: var(--secondary-color);
    }
    p {
        margin-top: 3rem;
    }
}

.design-block-image-content,
.design-block-video-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 3rem;
    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
    .content-block {
        flex-basis: 50%;
        h2 {
            margin-top: 0;
        }
    }
    .image-block {
        flex-basis: 50%;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .video-block {
        flex-basis: 50%;
        iframe {
            aspect-ratio: 16/9;
            width: 100%;
        }
    }
}

.design-block-iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 3rem;
    h2 {
        margin-bottom: 1rem;
        text-align: center;
    }
    iframe {
        aspect-ratio: 16/9;
        width: 100%;
    }
}

.content-block-icon-callouts,
.content-block-icon-column-callouts,
.content-block-image-callouts {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.content-block-icon-callouts {
    .content-block-icon-callout {
        flex: 0 1 32ch;
        img {
            height: 50px;
            width: 50px;
        }
        .content-block-icon-callout-title {
            font-weight: 600;
            color: var(--primary-color);
        }
    }
}

.content-block-icon-column-callouts {
    .content-block-icon-column-callout {
        flex: 1 1 min(100%, 250px);
        display: flex;
        gap: 1rem;
        img {
            height: 50px;
            width: 50px;
        }
        .content-block-icon-column-callout-title {
            font-weight: 600;
            color: var(--primary-color);
        }
    }
}

.content-block-image-callouts {
    .content-block-image-callout {
        box-shadow: 0 8px 16px rgba(0, 0, 0, .15);
        flex: 1 1 min(100%, 250px);
        img {
            height: 200px;
            object-fit: cover;
            width: 100%;
        }
        .content-block-image-callout-title {
            font-weight: 600;
            color: var(--primary-color);
        }
        .content-block-image-callout-title,
        .content-block-image-callout-text {
            margin-inline: .5rem;
        }
        .content-block-image-callout-text {
            margin-bottom: 1rem;
        }
    }
}

.content-block-common-questions {
    padding-block: 1rem;
    margin-block: 2rem;
    h2 {
        margin-bottom: 3rem;
        margin-top: 0;
    }
    details {
        border-top: 2px solid var(--secondary-color);
        padding: 2rem 1rem;
        color: var(--primary-color) !important;
        label {
            padding-right: 4rem;
        }
        span {
            font-size: 18px;
        }
        summary {
            justify-content: space-between;
            .h3 {
                font-size: 25px;
                font-weight: 500;
            }
        }
    }
}

.content-block-contact-callout {
    padding-inline: var(--gutter);
    padding-block: 4rem;
    margin-block: 4rem;
    background-color: #eeeeee;
}

/* V2 Updates

- CSS Variables
- Remove breakpoints

Questions:
- JS Break Out has to be included (modules scripts??)
*/